<!-- templates/products/product_detail.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>{{ product.name }}</h1>

    {% if product.image %}
       <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="max-width: 200px;">

    {% endif %}

    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Категория:</strong> {{ product.category }}</p>
    <p><strong>Цена:</strong> {{ product.price }} ₽</p>
    <p><strong>Создан:</strong> {{ product.created_at|date:"d.m.Y H:i" }}</p>
    <p><strong>Обновлён:</strong> {{ product.updated_at|date:"d.m.Y H:i" }}</p>

    <a href="/" class="btn btn-primary mt-3">Назад</a>
</div>
</body>
</html>
